@import "tailwindcss";

/* =========================================
   Wedding Invitation Scroll Animation
   ========================================= */


.hero-letter {
    opacity: 1;
    transition:
        opacity 500ms ease,
        transform 500ms ease;
}

.hero-m {
    transform: translateX(0);
}

.hero-e {
    transform: translateX(0);
}

.hero-hidden .hero-m {
    opacity: 0;
    transform: translateX(-80px);
}

.hero-hidden .hero-e {
    opacity: 0;
    transform: translateX(80px);
}

.wedding-date {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;

    border-right: 2px solid transparent;

    animation:
        wedding-type 2.5s steps(16) 1s forwards,
        wedding-cursor 0.7s step-end 1s 4;
}

@keyframes wedding-type {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes wedding-cursor {
    0%, 50% {
        border-right-color: white;
    }

    51%, 100% {
        border-right-color: transparent;
    }
}

.bg-dotted-pattern-center {
    background-color: #ffffff;
    opacity: 0.9;
    background: radial-gradient(#000000 15%, transparent 16%) 0 0, radial-gradient(#000000 15%, transparent 16%) 3.5px 3.5px, radial-gradient(#00000033 15%, transparent 20%) 0 1px, radial-gradient(#00000033 15%, transparent 20%) 3.5px 4.5px;
    background-size: 7px 7px;
    mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 75%);
    -webkit-mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 75%);
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.bg-dotted-pattern-edges {
    background-color: #ffffff;
    opacity: 0.7;
    background: radial-gradient(#000000 15%, transparent 16%) 0 0, radial-gradient(#000000 15%, transparent 16%) 3.5px 3.5px, radial-gradient(#00000033 15%, transparent 20%) 0 1px, radial-gradient(#00000033 15%, transparent 20%) 3.5px 4.5px;
    background-size: 7px 7px;
    mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6) 100%);
    -webkit-mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6) 100%);
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.parallax-container {
    background-image: url('images/bg/suit.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-container-reception {
    background-image: url('images/bg/reception.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: fixed;
}

.parallax-container-reception::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(85 11 20 / 70%);
}

.camera-button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #550b14;
  transition: all 0.2s ease;
}

.camera-button:active {
  transform: scale(0.96);
}

.camera-button:before,
.camera-button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.camera-button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #550b14 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #550b14 20%, transparent 30%),
    radial-gradient(circle, #550b14 20%, transparent 20%),
    radial-gradient(circle, #550b14 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #550b14 15%, transparent 20%),
    radial-gradient(circle, #550b14 20%, transparent 20%),
    radial-gradient(circle, #550b14 20%, transparent 20%),
    radial-gradient(circle, #550b14 20%, transparent 20%),
    radial-gradient(circle, #550b14 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.camera-button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #550b14 20%, transparent 20%),
    radial-gradient(circle, #550b14 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #550b14 15%, transparent 20%),
    radial-gradient(circle, #550b14 20%, transparent 20%),
    radial-gradient(circle, #550b14 20%, transparent 20%),
    radial-gradient(circle, #550b14 20%, transparent 20%),
    radial-gradient(circle, #550b14 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}


.page-title {
  font-family: 'Cinzel Decorative';
  font-size: 50px;
  color: #550b14 !important;
  font-weight: 300;
  margin: 0 !important;
}

.filter-button {
  background: transparent;
  font-size: 10px;
  padding: 8px 16px;
  border-radius: 7px;
  border: 1px solid white;
  color: white;
  transition: background 0.3s, border-color 0.3s;
  cursor: pointer;
}

.filter-button:hover {
  background: #550b14;
  border-color: #550b14;
}

.filter-button.active {
  background: #550b14;
  border-color: #550b14;
  outline: #550b14 solid 1px;
  outline-offset: 3px;
}


.card img {
  display: block;
  max-width: 60%;
}

.stack {
  width: 55%;
  max-width: 400px;
  transition: 0.25s ease;
  &:hover {
    transform: rotate(5deg);
    .card:before {
      transform: translatey(-2%) rotate(-4deg);
    }
    .card:after {
      transform: translatey(2%) rotate(4deg);
    }
  }
}

.card {
  aspect-ratio: 3 / 2;
  border: 4px solid #550b14;
  background-color: #fff;
  position: relative;
  transition: 0.15s ease;
  cursor: pointer;
  padding: 5% 5% 15% 5%;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 4px solid #550b14;
    background-color: #fff;
    transform-origin: center center;
    z-index: -1;
    transition: 0.15s ease;
    top: 0;
    left: 0;
  }

  &:before {
    transform: translatey(-2%) rotate(-6deg);
  }

  &:after {
    transform: translatey(2%) rotate(6deg);
  }
}
.card-image {
  width: 100%;
  border: 4px solid #550b14;
  background-color: #eee;
  aspect-ratio: 1 / 1;
  position: relative;
}

.browser-warning {
  margin-bottom: 4rem;
}

@supports (aspect-ratio: 1 / 1) {
  .browser-warning {
    display: none;
  }
}
